{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}

    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/codehilite-friendly.css') }}">
    <div class='container-fluid'>
      <div class='row'>
        <div class="col-md-12">
          <div id="renderedMarkdown">
            <h1>Discover Radeon Instinct™ for Deep Learning Solutions</h1>
            <p>
            Radeon Instinct™ is the fusion of human instinct and machine intelligence, 
            designed to be open from the metal forward. Higher levels of datacenter performance and 
            efficiencies are enabled through AMD’s introduction of world-class GPU technologies and 
            the Radeon Instinct’s open ecosystem approach to datacenter design through our ROCm software platform, 
            support of various system architectures, and industry standard interconnect technologies.
            </p>
            <p>
              This application allows to try out live examples of Deep Learning solutions that run on Radeon Instinct™.
              The following features are available: 
            </p>
            <ul>
              <li>Curated Deep Learning solutions that have been validated on Radeon Instinct™ GPUs.</li>
              <li>Users can run, experiment and interact with these solutions using a web browser.</li>
              <li>Users can re-train these solutions to optimize them for their custom requirements.</li>
              <li>Users can browse and search the curated solutions.</li>
              <li> Users can visualize the training and the inference results.</li>
            </ul>

            <h2>Optimized for Deep Learning Training and Inference</h2>
            <p>
              Optimized Deep Learning Operations with mixed FP16, FP32 & INT8 capabilities brings customers supercharged 
              compute capabilities to meet today’s demanding system requirements of handling large data efficiently 
              for training complex neural networks used in deep learning and running inference against them.  
            </p>

            <h2>World’s Leading Double Precision PCIe® Accelerator</h2>
            <p>
              Ultra-fast double precision performance with up to 7.4 TFLOPS FP64 performance on the AMD Radeon Instinct™ MI60 
              Compute GPU, allows scientists and researchers across the globe to more efficiently process HPC parallel codes 
              across several industries including life sciences, energy, finance, automotive and aerospace, academics, government, 
              defense and more.
            </p>

            <h2>Advanced Infinity Fabric™ Peer-to-Peer GPU Communications</h2>
            <p>
              Two Infinity Fabric™ Links per GPU for high speed Direct-Connect GPU
               clusters delivering up to 200 GB/s GPU peer-to-peer bandwidth. 
            </p>

            <h2>Technologies for Driving the Next Era of Compute</h2>
            <ul>
              <li>PCIe® Gen 4 Capable</li>
              <li>Ultra-fast HBM2 Memory</li>
              <li>1TB/s memory bandwidth</li>
              <li>Full Chip ECC and Enterprise-class RAS</li>
              <li>Advanced System GPU Monitoring</li>
              <li>MxGPU Virtualized Compute</li>
              <li>Large Bar Support</li>
              <li>ROCm Open Ecosystem</li>
            </ul>
            
          </div>

        </div>
      </div>
    </div>

    <hr/>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/helpers.js') }}"></script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js">
</script>

<script>
$(document).on('ready', function(){
  // Initialize headers
  helpersJx.linkifyHeaders();
})
//Turn all the headers to be links
//h1 = Title, don't want that
var all_headers = [$("h2"), $("h3"), $("h4"), $("h5"), $("h6")]
$.each(all_headers, function(index, value){
  $.each(value, function(i, v){
    var inner_html = v.innerHTML
    inner_html_no_special = inner_html.replace(/[^a-zA-Z\- ]/g, "")
    var inner_link = "#" + inner_html_no_special.toLowerCase().split(" ").join("-")
    v.innerHTML = "<a href='" + inner_link + "' class=link-reset>" + inner_html + "</a>"
  })
})
</script>
{% endblock %}
