

#banner{

    background:linear-gradient(0deg,rgba(10, 10, 10, 0.836),rgba(10, 10, 10, 0.836)),  url("../img/404-bg.jpg");
    background-size: cover;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 5%; 
    padding-bottom:20%;
    text-align: center;

}