#banner-feed{
    position: relative;
    background-image: url(/static/images/red-hero@2x.jpg);
    background-size: cover;
    padding-top: 3%; 
    padding-bottom:16%;
    z-index: 1;

}

#banner-about{

    background-image: url(/static/images/about.jpg);
    background-position-y: -20px;
    background-size: cover;
    padding-top: 3%; 
    padding-bottom:16%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;

}

#banner-stats{

  background-image: url(/static/images/stat.jpg);
  
  background-position-y: -20px;
  background-size: cover;
  padding-top: 5%; 
  padding-bottom:16%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;

}
/*tree view*/
/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer; 
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg); 
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}