#banner{

    background-image: url(../img/code.jpg);
   
    
    position: relative;
    background-size: cover;
    padding-top: 5%; 
    padding-bottom:16%;
    z-index: 1;

}



.left-bar ul{
    list-style: none;
    padding-left: 0px;
    line-height: 200%;
}

.left-bar a{
    text-decoration: none;
    color: #007C97;
}


.right-container{
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #9D9FA2;
}

.code-block{
    background-color: #C9C9C9;
    padding: 20px 50px 20px 50px;
    line-height: 150%;
    margin: 10px 0px 10px 0px;
}

.image-code{
    text-align: center;
}

.comment{
    text-align: center;
}

#comment-box{
    width: 100%;
    height: 300px;
    top: 10px;
    margin-bottom: 5%;
padding: 10px;
}

.banner-stat{
    color: white;
    margin-top: 5%;
    
}

.banner-stat p{
    padding-right: 10px;
}