#banner{

    background-image: url(../img/red-hero@2x.jpg);
    background-size: cover;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 5%; 
    padding-bottom:16%;
    text-align: center;

}



#banner a:hover {
    color: #007C97;
    text-decoration: none;
    transition: 1;
}

.left-bar{
    flex: 1;
}

.left-bar ul{
    list-style: none;
    padding-left: 0px;
    line-height: 150%;
}

.left-bar a{
    text-decoration: none;
    color: #007C97;
}



.right-container{
    padding: 2% 2% 2% 0;
    border: 1px solid #9D9FA2;
    margin-bottom: 2%;
}

.right-container:hover{
    cursor: pointer;
}



.right-container:hover{
    box-shadow: 0px 0px 58px -21px rgba(0,0,0,0.75);
    border: 1px solid transparent;
    transition: 200ms;
}





.subhead{
    line-height: 2px;
    padding-top: 10px;
    font-size: 10px;
    color: #9D9FA2;
}



.data-footer{
    display: flex;
    margin-top:7%;
}

.footer-tags{
    width: 70%;

}

.tag-btn{
    background-color: transparent;
    color: #9D9FA2;
    border: 2px solid #9D9FA2;
    padding: 10px;
}

.tag-btn:hover{
    border: 2px solid black;
    color: white;
    background-color: black;
    transition: 0.3s;
    cursor: pointer;
}

.footer-stat{
    padding-top: 2%;
}

.footer-stat p {
    padding-right: 10px;
    color: #9D9FA2;
}

.footer-stat:hover{
cursor: pointer;
}

/*tree view*/
.caret {
    cursor: pointer; 
    user-select: none; /* Prevent text selection */
    color: black;
    font-weight: 400;
  }

  .caret::before {
    font-family: "FontAwesome";
    content: "\f0fe";
    color: #007C97;
    transition: 100ms;
    display: inline-block;
    margin-right: 10px;
  }
  
  .caret-down::before {
    font-family: "FontAwesome";
    content: "\f147"; 
    
}
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }

  .bullet li::before {
      font-family: "FontAwesome";
    content: "\f0c1"
    
  }