

header{
    position: relative;
    background-color: black;
    box-shadow: 0px 4px 0px #9D9FA2;
    z-index: 100;
    
}
/*header logo*/

.main-content{
margin-top: -12%;
z-index: 10;
}

.mainfooter{
    position: relative;
    margin-top: -2%;
    z-index: 100;
}

.right-bar .card:hover{
    box-shadow: 0 14px 28px rgba(109, 33, 33, 0.25), 0 10px 10px rgba(109, 33, 33,0.22);
    transition: 0.9ms,
}
/*responsive logo*/


