#banner{

    background-image: url(../img/red-hero@2x.jpg);
    background-size: cover;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 5%; 
    padding-bottom:16%;
    text-align: center;

}

.user-content{

    text-align: center;
    padding: 20px;

}

.user-content:hover{
    box-shadow: 0px 0px 58px -21px rgba(0,0,0,0.75);
    border: 1px solid transparent;
    transition: 200ms;
}